<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="background:url('https://wallup.net/wp-content/uploads/2016/05/25/171378-wood-texture-dark-planks-simple_background.jpg');	background-position: top left;	background-size: 100%;	background-repeat: repeat;	background-image: url(http://knpsv.nl/wp-content/uploads/2016/11/Huisstijl-Achtergrond-4-1.jpg); margin:0; color:white;">
<h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
   <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
</body>
</html>
