<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body style="	https: //wallup.net/wp-content/uploads/2016/05/25/171378-wood-texture-dark-planks-simple_background.jpg);	background-position: top left;	background-size: 100%;	background-repeat: repeat;	background-image: url(http://knpsv.nl/wp-content/uploads/2016/11/Huisstijl-Achtergrond-4-1.jpg);">
  {%include "navbar2.html"%} 
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6  " style=""><img class="img-fluid d-block float-left" src="https://image.ibb.co/doXV2U/1507545397025.jpg" style="" width="300"></div>
        <div class="col-md-6" style="">
          <div clas="py-5 border-0">
           <div class="container">

           <input type="button" id="change_background" value="Change" />
           <input type="button" id="change_background2" value="Previous" />

          <h4 class="display-1 text-white" style="">Hi!! Im<br>Andri Rahmadhan<br></h4>
        </div>
      </div>
    </div>
  </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="">
          <h2 class="text-white h-10 ">Birth date: 5 January 2000</h2>
          <h2 class="text-white h-10 ">Age : 18</h2>
          <h2 class="text-white ">Study : Universitas Indonesia</h2>
          <h2 class="text-white ">Email Addres: andriramadhane@yahoo.com</h2>
          <h2 class="text-white ">Hobby: Playing Soccer</h2>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12"> 
        </div>
      </div>
    </div>
  </div>
<style>
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>
</head>
<body>

<h2 class="text-white text-center">Status</h2>
<button class="accordion">Aktivitas</button>
<div class="panel">
  <p>Aktivitas saya sekarang kuliah di Universitas Indonesia jurusan Sistem Informasi,selain berkuliah saya juga mengikuti kepanitiaan Compfest 10, CGT , dan Open House.</p>
</div>

<button class="accordion">Organisasi dan Kepanitiaan</button>
<div class="panel">
  <ul>-CGT</ul>
  <ul>-Compfest 10</ul>
  <ul>-Open House</ul>
</div>

<button class="accordion">Prestasi</button>
<div class="panel">
  <p>Loading....</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<script type='text/javascript'
  src='http://code.jquery.com/jquery-1.11.0.js'></script>
<script type='text/javascript'>
$(window).load(function(){
    $( "#change_background" ).on( "click", function() {
        $("body").first().css("background-image", "url(https://image.ibb.co/jSf5TV/wood-background-hd-picture-4-169843.jpg)");
    });
});

$(window).load(function(){
    $( "#change_background2" ).on( "click", function() {
        $("body").first().css("background-image", "url(http://knpsv.nl/wp-content/uploads/2016/11/Huisstijl-Achtergrond-4-1.jpg)");
    });
});
</script>

</body>

</html>