<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <style type="text/css">
    	.clicked{
		    color: blue !important;
		}

		.counter-container {
		    font-family: 'Rasa', serif;
		    font-size : 2rem;
		    color : blue;
		    text-align: center;
		}
    </style>
  </head>

  <body style="background:url('https://wallup.net/wp-content/uploads/2016/05/25/171378-wood-texture-dark-planks-simple_background.jpg');	background-position: top left;	background-size: 100%;	background-repeat: repeat;	background-image: url(http://knpsv.nl/wp-content/uploads/2016/11/Huisstijl-Achtergrond-4-1.jpg); margin:0; color:white;">

    {% block content %}
    {% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.username }}</p>
    {% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
    {% endif %}
    {% endblock content %}

  	<h2 class="counter-container" style="text-align: center;">Books</h2>

  	<button id="btn" type="button" class="btn btn-primary" style="margin-left: 45%">See the booklist</button>
  	<div id="myDiv" class="animate-bottom">
  		<div class="counter-container" style="text-align: center;">
        	<i class ="fa fa-star" onclick="favorite()"></i>: <span class="counters" id="counter">{{ jumlahFav }}</span>
    	</div>
    	<div style="text-align: right;padding: 2%;" >
    		<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    		<button onclick="cari()">Search</button>
    	</div>
    	<script type="text/javascript">
    		function cari(){
    			var q = document.getElementById("myInput").value;
				console.log(q);
				var myRequest = new XMLHttpRequest();
				myRequest.open('GET', 'https://www.googleapis.com/books/v1/volumes?q='+q);
				myRequest.onload = function(){
					var myData = JSON.parse(myRequest.responseText);
					console.log(myData);
					renderHTML(myData); 
				};
				myRequest.send();
			}

    	</script>
<div id="counter">
<div class="container">
		<table id="myTable" class="table table-ligth table-bordered ">
			<thead>
				<tr>
			    	<th scope="col" style="text-align: center;">No</th>
			    	<th scope="col" style="text-align: center;">Cover</th>
			    	<th scope="col" style="text-align: center;">Title</th>
			     	<th scope="col" style="text-align: center;">Authors</th>
			     	<th scope="col" style="text-align: center;">Publisher</th>
			     	<th scope="col" style="text-align: center;">Favorite</th>
				</tr>
			</thead>
		</table>J
	</div>
</div>
</div>

  <script type="text/javascript">
  	var container = document.getElementById("myTable");
	var btnCounter = 1
	var btn = document.getElementById("btn");
	btn.addEventListener("click", function(){
    var myRequest = new XMLHttpRequest();
    myRequest.open('GET', 'https://www.googleapis.com/books/v1/volumes?q=quilting');
    myRequest.onload = function(){
    var myData = JSON.parse(myRequest.responseText);
    console.log(myData);
    renderHTML(myData); 
};
myRequest.send();
btn.style.visibility = "hidden";
})


function renderHTML(data){
    cetak = "<tbody>";
    for(i = 0; i<data.items.length;i++){
        cetak += "<tr>" + "<th scope="+"'row'"+">" + (i + 1) + "</th><td>" +
        "<img src='"+data.items[i].volumeInfo.imageLinks.smallThumbnail +"'></img>"+"</td>" +
        "<td id='title'>" + data.items[i].volumeInfo.title + "</td>" + 
        "<td>" + data.items[i].volumeInfo.authors + "</td>" +
        "<td>" + data.items[i].volumeInfo.publisher + "</td>" + 
        "<td style="+"'text-align:center'"+">"+ 
        "<button onclick="+"'favorite(this.id)'"+"id="+"'btn" + i +
        "' class="+ "'btn btn-outline-primary'" + "><i class='fas fa-star'></i></button>" + "</td></tr>";
        

    }
    container.insertAdjacentHTML('beforeend', cetak + "</tbody>");

}

var counter = 0;
function favorite(clicked_id){

	var btn = document.getElementById(clicked_id);
	if(btn.classList.contains("checked")){
		btn.classList.remove("checked");
		counter--;
    $.post('/booklist/', {'jumlahFav' : counter})
		var count = document.getElementById("counter").innerHTML = counter;
		

	}
	else{
		btn.classList.add("checked");
		counter++;
    $.post('/booklist/', {'jumlahFav' : counter})
		var count = document.getElementById("counter").innerHTML = counter;

	}
	
}


function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

  </script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html> 