<!DOCTYPE html>

<html>

<head>

	<title>Google Signin Demo</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>

<body>

	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

		<div class="container">

				<a class="navbar-brand" href="/">Django App</a>

		</div>  

	</nav>

    <div class="container">

	    {% block content %}	

	    {% endblock content %}

    </div>

</body>

</html>