<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body style="	https: //wallup.net/wp-content/uploads/2016/05/25/171378-wood-texture-dark-planks-simple_background.jpg);	background-position: top left;	background-size: 100%;	background-repeat: repeat;	background-image: url(http://knpsv.nl/wp-content/uploads/2016/11/Huisstijl-Achtergrond-4-1.jpg);">
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6  " style=""><img class="img-fluid d-block float-left" src="https://image.ibb.co/doXV2U/1507545397025.jpg" style="" width="300"></div>
        <div class="col-md-6" style="">
          <h4 class="display-1 text-white" style="">Hi!! Im<br>Andri Rahmadhan<br></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="">
          <h2 class="text-white h-10 ">Birth date: 5 January 2000</h2>
          <h2 class="text-white h-10 ">Age : 18</h2>
          <h2 class="text-white ">Study : Universitas Indonesia</h2>
          <h2 class="text-white ">Email Addres: andriramadhane@yahoo.com</h2>
          <h2 class="text-white ">Hobby: Playing Soccer</h2>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {%include "navbar.html"%}               
        </div>
      </div>
    </div>
  </div>
</body>

</html>