 <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <span class="navbar-toggler-icon"></span>
          <div class="btn-group"> <a class="btn btn-primary" href="/blank">Home</a> <a href="/aboutme" class="btn btn-primary">About</a> <a href="/myschedule" class="btn btn-primary">Myschedule</a></div>
        </nav>
        