<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body style="	https: //wallup.net/wp-content/uploads/2016/05/25/171378-wood-texture-dark-planks-simple_background.jpg);	background-position: top left;	background-size: 100%;	background-repeat: repeat;	background-image: url(http://knpsv.nl/wp-content/uploads/2016/11/Huisstijl-Achtergrond-4-1.jpg);">
	 <h3 class="display-4 text-center text-light text-capitalize rounded-bottom" contenteditable="true"><i><b> MY SCHEDULE</b></i></h3>
   <br>
  {% for myschedule in myschedules %} 
  
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card text-center">
            <div class="card-header"> {{myschedule.judul}} </div>
            <div class="card-body">
              <h4>{{myschedule.hariTanggal}} {{myschedule.jam}}</h4>
              <div><h6 class="text-muted">{{myschedule.kegiatan}}</h6></div>
              <p>Kategori : {{myschedule.kategori}}</p>
              <p>Tempat : {{myschedule.tempat}}</p>
              {%include "navbar.html"%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
      
     
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" style=""></script>
</body>

</html>